body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-gradient-1: #1e69b7;
  --background-gradient-2: #1182c1;
  --accent: #4eb7be;
  --white: #fff;
  --active: #d8e1e5;
  --textColor: #4f4d43;
}
